/*
 * Basic layout
*/

body {
  margin: 0;
}
#header {
  height: 100px;
  background-color: #ff0;
}
#statusbar {
  /*height: 50px;*/
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 5px;
  padding-bottom: 15px;
  background-color: #ff0;
}
#content-body-wrapper {
  width: 100%;
  display: table;
  border-collapse: collapse;
}
#content-body {
  display: table-row;
}
#menu, #content {
  display: table-cell;
}
#menu {
  width: 160px;
  background-color: #fc0;
}
#menu > ul {
  list-style-type: none;
  margin: 10px;
  padding: 0px;
}
#content {
  background-color: #ffffc6;
}

/*
 * Elements
*/
.eingabe input {
  text-align: right;
  border-width: thin;
}
.eingabe td {
  text-align: right;
}
input.klKlasse {
  width: 40px;
}
input.klJgst {
  width: 20px;
}
